.puzzle-view {
	font-family: monospace;
	font-size: 200%;
}

div {
	
}

.public-word {
	font-size: 200%;
	letter-spacing: 20px;
}

body {
	text-align: center;
	background: rgb(180, 255, 130);
}

h1 {
	background: rgb(195, 214, 70);
	border: 5px;
	border-color: rgb(53, 193, 40);

}
